*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /*para que el borde se incluya en el ancho de la caja*/
    font-size: 14px;
    font-weight: 600;
    color: rgb(65, 97, 105)
}

.contenedor{
    position: relative;
    margin:auto;
    height: auto;
}

.fila{
    position: relative;
    margin:auto;
    width: 100%;
    height: auto;
    clear: both;
    display: table;
}
[class*="col-"]{
    float: left;
    border: 1px solid red;
    padding: 5px;
}
.col-12{
    width: 100%;
}
.col-11{
    width: 91.66666667%;
}
.col-10{
    width: 83.33333333%;
}
.col-9{
    width: 75%;
}
.col-8{
    width: 66.66666667%;
}
.col-7{
    width: 58.33333333%;
}
.col-6{
    width: 50%;
}
.col-5{
    width: 41.66666667%;
}
.col-4{
    width: 33.33333333%;
}
.col-3{
    width: 25%;
}
.col-2{
    width: 16.66666667%;
}
.col-1{
    width: 8.33333333%;
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-75{
    width: 75%;
}

.w-50{
    width: 50%;
}

.w-30{
    width: 30%;
}

.w-25{
    width: 25%;
}

.icono{
    color: rgb(80, 120, 130);
}
input{
    background-color: rgba(255, 255, 255, 0.6);
    border: 0px;
    height: 20px;
    border-bottom: 1px solid rgb(80, 120, 130);
    text-align: center;
    outline-color: rgb(181, 232, 247);
}

btn{
    display:inline-block;
    width: 130px;
    height: 60px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top:30px;
    transition: all 0.15s;
}
btn:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
    cursor: pointer;
}

.btn-aceptar{
    background-color: rgb(80, 120, 130);
}
.btn-cancelar{
    background-color: rgb(238, 152, 136);
}

.align-con-cen{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-vh-con-cen{
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
}

.svg-icon{
    width: 45px;
    height: auto;
}

input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="foto_sala"] {
    color: rgb(53, 56, 92);
    background-color: #d5dadd;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 10px 40px !important;
    width: fit-content;
    text-align: center;
    border-radius: 25px;
}

.img-fit{
    float:left;
    width:270px;
    height:205px;
    object-fit:cover;
}

.btn-filter{
    background-color: rgb(231, 228, 223);
    border: none;
    border-radius: 5px 0px 0px 5px;
    width: 40px;
    height: 40px;
}
.btn-search{
    background-color: rgb(233, 203, 67);
    border: none;
    border-radius: 0px 5px 5px 0px;
    width: 150px;
    height: 40px;
    color: white;
    letter-spacing: 1px;
}

@media(min-width:1200px){
    .col-lg-12{width: 100%};
    .col-lg-11{width: 91.66666667%};
    .col-lg-10{width: 83.33333333%};
    .col-lg-9{width: 75%};    
    .col-lg-8{width: 66.66666667%};
    .col-lg-7{width: 58.33333333%};
    .col-lg-6{width: 50%};
    .col-lg-5{width: 41.66666667%};
    .col-lg-4{width: 33.33333333%};
    .col-lg-3{width: 25%};
    .col-lg-2{width: 16.66666667%};
    .col-lg-1{width: 8.33333333%};
}

@media(max-width:1199px) and (min-width:992px){
    .col-md-12{width: 100%};
    .col-md-11{width: 91.66666667%};
    .col-md-10{width: 83.33333333%};
    .col-md-9{width: 75%};    
    .col-md-8{width: 66.66666667%};
    .col-md-7{width: 58.33333333%};
    .col-md-6{width: 50%};
    .col-md-5{width: 41.66666667%};
    .col-md-4{width: 33.33333333%};
    .col-md-3{width: 25%};
    .col-md-2{width: 16.66666667%};
    .col-md-1{width: 8.33333333%};
}

@media(max-width:991px) and (min-width:768px){
    .col-sm-12{width: 100%};
    .col-sm-11{width: 91.66666667%};
    .col-sm-10{width: 83.33333333%};
    .col-sm-9{width: 75%};    
    .col-sm-8{width: 66.66666667%};
    .col-sm-7{width: 58.33333333%};
    .col-sm-6{width: 50%};
    .col-sm-5{width: 41.66666667%};
    .col-sm-4{width: 33.33333333%};
    .col-sm-3{width: 25%};
    .col-sm-2{width: 16.66666667%};
    .col-sm-1{width: 8.33333333%};
}
@media(max-width:767px){
    .col-xs-12{width: 100%};
    .col-xs-11{width: 91.66666667%};
    .col-xs-10{width: 83.33333333%};
    .col-xs-9{width: 75%};    
    .col-xs-8{width: 66.66666667%};
    .col-xs-7{width: 58.33333333%};
    .col-xs-6{width: 50%};
    .col-xs-5{width: 41.66666667%};
    .col-xs-4{width: 33.33333333%};
    .col-xs-3{width: 25%};
    .col-xs-2{width: 16.66666667%};
    .col-xs-1{width: 8.33333333%};
}

@media all and (max-width:767px){
    button{
        display:block;
        margin:0.4em auto;
        width: 100%;
    }
  
}